<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Form</title>
    <link rel="stylesheet" href="D:\music academy\Music-Academy\Music-Academy\static\css\registration.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <h2>Admission Form</h2>
        <div class="form-container">
            <form action="">  

                 <div class="input-name">
                    <i class="fa fa-user"></i>
                    <input type="text" placeholder="First Name" class="name">

                    <span>
                        <i class="fa fa-user"></i>
                        <input type="text" placeholder="Last Name" class="text-name">
                    </span>
                 </div>

                 <div class="input-name">
                    <i class="fa fa-envelope email"></i>
                    <input type="email" placeholder="email" class="text-name">
                 </div>

                 <div class="input-name">
                    <i class="fa fa-lock lock"></i>
                    <input type="password" placeholder="Password" class="text-name">
                 </div>

                 <div class="input-name">
                    <i class="fa fa-lock lock"></i>
                    <input type="password" placeholder="Confirm Password" class="text-name">
                 </div>

                 <div class="input-name">
                    <i class="fa fa-phone"></i>
                    <input type="tel" placeholder="Phone Number">
                 </div>

                 <div class="input-text">
                    <input type="radio" class="radio-button" name="r1">
                    <label>Male</label>

                    <input type="radio" class="radio-button" name="r1">
                    <label>Female</label>
                 </div>
                 <div class="input-name">
                    <label for="country">Country</label>

                 <select id="country" name="country">
                    <option value="">-- Select Country --</option>

                    <option value="India">India</option>
                    <option value="United States">United States</option>
                    <option value="United Kingdom">United Kingdom</option>
                    <option value="Canada">Canada</option>
                    <option value="Australia">Australia</option>
                    <option value="New Zealand">New Zealand</option>

                    <option value="Germany">Germany</option>
                    <option value="France">France</option>
                    <option value="Italy">Italy</option>
                    <option value="Spain">Spain</option>
                    <option value="Netherlands">Netherlands</option>
                    <option value="Switzerland">Switzerland</option>

                    <option value="Japan">Japan</option>
                    <option value="South Korea">South Korea</option>
                    <option value="China">China</option>
                    <option value="Singapore">Singapore</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Thailand">Thailand</option>

                    <option value="United Arab Emirates">United Arab Emirates</option>
                    <option value="Saudi Arabia">Saudi Arabia</option>
                    <option value="Qatar">Qatar</option>

                    <option value="South Africa">South Africa</option>
                    <option value="Nigeria">Nigeria</option>
                    <option value="Egypt">Egypt</option>

                    <option value="Brazil">Brazil</option>
                    <option value="Mexico">Mexico</option>
                    <option value="Argentina">Argentina</option>

                    <option value="Other">Other</option>
                  </select>

                  </div>
                    
                 
            

            </form>
        </div>
    </div>
</body>
</html>